<section>
<br />
  <h1>Register</h1>
<br />
  <%= form_for :user, url: '/register' do |f| %>

    First & Last Name: <%= f.text_field :name %>
    Email: <%= f.text_field :email %>
    Password: <%= f.password_field :password %>
    Password Confirmation: <%= f.password_field :password_confirmation %>
    <%= f.submit "Register" %>

  <% end %>
</section>
